.contact__main{
    margin-top: 150px;
    background-color: rgb(231, 231, 231);
    padding: 0px 50px 50px 50px;
    box-shadow: 10px 5px 5px rgb(126, 125, 125);
    border-radius: 5px;
}

.contact__main h1{
    font-size: 75px;
    color:#000000
}

.form {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    font-family: 'Pacifico', cursive;
}

.div__one input{
    display: flex;
    align-items: flex-start;
    margin: 10px 0px 0px 0px;
    border-style: none;
    border-bottom: 5px solid #7e7d7d;
    background-color: #e7e7e7;
    
}

.div__two input {
    align-self: stretch;
    border-radius: 5px;
    border-style: none;
    padding: 5px;
    border-bottom: 5px solid #7e7d7d;
    background-color: #e7e7e7;

}

.div__three textarea {
    align-self: stretch;
    border-radius: 5px;
    border-style: none;
    border-bottom: 5px solid #7e7d7d;
    background-color: #e7e7e7;
    resize: none;
}

.contact__main label{
    font-family: 'Pacifico', cursive;
}

button{
    border: 1px solid #adadad;
    font-family: 'Pacifico', cursive;
    padding: 5px 10px;
    border-radius: 5px;
}